<app-header-principal></app-header-principal>
<main>
  <h2>Insira as informações para editar o ticket:</h2>

  <form>
    <input [(ngModel)]="itens.nome" name="nome" class="caixa-input" placeholder="Nome" className="input" type="text">
    <input [(ngModel)]="itens.valor" name="valor" class="caixa-input" placeholder="Valor" className="input" type="text">
    <input [(ngModel)]="itens.empresa" name="empresa" class="caixa-input" placeholder="Empresa" className="input" type="text"/>
    <input [(ngModel)]="itens.descricao" name="descricao" class="caixa-input" placeholder="descrição" className="input" type="text">
    <input [(ngModel)]="itens.endereco" name="endereco" class="caixa-input" placeholder="Endereco" className="input" type="text">
    <div>
      <button class="botao" (click)="editarItem()">Editar</button>
    </div>
  </form>
</main>
<app-footer></app-footer>
