<app-header-principal></app-header-principal>
<main>
  <h2>Insira as informações para cadastrar o ticket:</h2>

  <form>
    <input class="caixa-input" placeholder="Nome evento" className="input" type="text">
    <input class="caixa-input" placeholder="Descrição" className="input" type="text">
    <input class="caixa-input" placeholder="Empresa" className="input" type="text"/>
    <input class="caixa-input" placeholder="Endereço" className="input" type="text">
    <button class="botao">Cadastrar</button>
  </form>
</main>
<app-footer></app-footer>
