@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "../../../../config-scss/variables.scss";

:host {
  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 180px;
    color: $cinza;

  }

  h2 {
    font-weight: 700;
    padding-top: 32px;
    color: $branco;
  }

  @media (max-width: 768px) {
    h1 {
    font-size: 140px;
    }

    h2 {
      font-weight: 300;
      padding-top: 64px;
    }
  }
}
