@import "../../../../config-scss/variables.scss";

:host {
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 32px;
    gap: 32px;
  }

  button {
    margin: 32px auto 0 auto;
  }

  .tem-conta {
    font-size: 14px;
    font-size: 700;
    padding-top: 32px;
    color: $branco;
  }

  .criar-conta {
    font-size: 16px;
    font-size: 700;
    color: $azul;
    margin-left: 5px;
    cursor: pointer;
  }
}
