@import "../../../config-scss/variables.scss";

:host {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $branco;
    border-bottom: 1px solid $preto;
    height: 40px;
    padding: 20px;

    h1 {
      font-size: 24px;
    }

    ul {
      display: flex;
      gap: 20px;

      a {
        font-weight: 300;
        font-size: 18px;

        &:hover {
          font-weight: 400;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      ul {
        padding-top: 5px;
        gap: 40px
      }
    }
  }
}
