@import "../../../../config-scss/variables.scss";

:host {
  .listagem {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px 0;

    .item {
      background-color: $branco;;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
      padding: 20px;
      width: 260px;
      height: 300px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      p {
        padding-top: 10px;
        word-wrap: break-word;
      }

      .informacoes {
        height: 280px;
      }

      .acoes {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .icone {
          width: 26px;
          cursor: pointer;
        }
      }
    }
  }
}
